#back{
    background-color: teal;
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    
}



#front{
    background-color: rgba(13, 29, 32, 0.61);
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    

}

input{ 

  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.6);
  color: white;
  outline: none;
  

}



button{
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
   
}



