#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% ;
    
    
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  
  }
  
  #table tr:nth-child(even){background-color: #66ccbb;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #292e30;
    color: white;
  }

  div{
    height: 100%;
    overflow-y: auto;
  }

  button{
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
   
  }