
<hr>

<div id="back">
<table id="table">
    <caption>Companies Table</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf = "company">
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.email}}</td>
            <td>{{company.password}}</td>
        </tr>
    </tbody>
    <tr></tr>
</table>
<button (click)="goBack()">Go back</button>

</div>