
 <hr>

 <div>

<table id="table">
    <caption>Customer Table</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf = "customer">
            <td>{{customer.id}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.password}}</td>
        </tr>
    </tbody>
    <tr></tr>
</table>
<button (click)="goBack()">Go back</button>

</div>

