<button (click)="getAll()"> Refresh <i class="fa fa-refresh"></i></button>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="back">
    <h3>Purchase Coupon</h3>
    <div id="front">
      
        <table id="table">
            <caption>Company Coupons Table</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th colspan="2">Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let c of couponim">
    
                    <td>{{c.id}}</td>
                    <td>{{c.category}}</td>
                    <td>{{c.title}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.startDate}}</td>
                    <td>{{c.endDate}}</td>
                    <td>{{c.amount}}</td>
                    <td>{{c.price}}</td>
                    <td><img id="pic" src="../../../assets/picturs//{{c.image}}" /></td>
                    <td><button class="btn3" (click)="purchaseCoupon(c.id,c.category,c.title,c.description,c.startDate,c.endDate,c.amount,c.price,c.image)">buy it! </button></td>
                    
                </tr>
            </tbody>
            <tr></tr>
        </table>
        <h3 *ngIf="couponim == null "> there is no coupons</h3>
    </div>
</div>