<div id="back">
    <h3>Add Coupon</h3>
    <div id="front">
        <form action="">


            <br>
            <select  name="category" id="category" [formControl]="cateFormControl">
                <option value="" disabled selected hidden>Select Category</option>
                <option value="FOOD">FOOD</option>
                <option value="ELECTRICITY">ELECTRICITY</option>
                <option value="RESTAURANT">RESTAURANT</option>
                <option value="VACATION">VACATION</option>
            </select>

            
            <input type="text" placeholder="insert title" name="title" [formControl]="titleFormControl">
            <input type="text" placeholder="insert description" name="description" [formControl]="descriptionFormControl">
            <br>
            <span *ngIf="cateFormControl.errors?.required && cateFormControl.touched"> Category is missing</span>
            <span *ngIf="titleFormControl.errors?.required && titleFormControl.touched"> Title is missing</span>
            <span *ngIf="titleFormControl.errors?.maxlength && titleFormControl.touched"> The title is too long</span>
            <span *ngIf="descriptionFormControl.errors?.required && descriptionFormControl.touched"> Description is
                missing</span>
            <span *ngIf="descriptionFormControl.errors?.maxlength && descriptionFormControl.touched"> The description is
                too long</span>
            <br><br>


            <input type="text" placeholder="Select Start Date" onfocus="(this.type='date')" name="startDate" [formControl]="startDateFormControl">
            <input type="text" placeholder="Select End Date" onfocus="(this.type='date')" name="endDate" [formControl]="endDateFormControl">
            <input type="number" placeholder="insert Amount" name="amount" [formControl]="amountFormControl">
            <br>
            <span *ngIf="startDateFormControl.errors?.required && startDateFormControl.touched">Start Date is missing</span>
            <span *ngIf="endDateFormControl.errors?.required && endDateFormControl.touched">End Date is missing</span>
            <span *ngIf="amountFormControl.errors?.required && amountFormControl.touched"> Amount is missing</span>
            <span *ngIf="amountFormControl.errors?.min && amountFormControl.touched"> Amount has to be greater than
                zero</span>
            <span *ngIf="amountFormControl.errors?.pattern && amountFormControl.touched"> Amount can't be a decimal
                number</span>
            <br><br>

            <input type="number" placeholder="insert price" name="price" [formControl]="priceFormControl">
            <select  name="picture" id="picture" [formControl]="imageFormControl">
                <option value="" disabled selected hidden>Select picture</option>
                <option value="baloon.gif">baloon</option>
                <option value="bread.jpg">bread</option>
                <option value="burger.jpg">burger</option>
                <option value="cake.jpg">cake</option>
                <option value="milk.jpg">milk</option>
                <option value="pasta.jpg">pasta</option>                
                <option value="pie.jpg">pie</option>
                <option value="pizza.jpg">pizza</option>                
                <option value="potato.jpg">potato</option>
            </select>

            <br>
            <span *ngIf="priceFormControl.errors?.required && priceFormControl.touched"> Price is missing</span>
            <span *ngIf="priceFormControl.errors?.min && priceFormControl.touched"> Price has to be greater than
                zero</span>
            <span *ngIf="imageFormControl.errors?.required && imageFormControl.touched"> Url is missing</span>
            <br>
            <button (click)="addCoupon()" [disabled]="formGroup.invalid">Add Coupon</button>


        </form>

    </div>
</div>