<section>


    <aside>
        <button routerLink="purchaseCoupon">Purchase Coupon </button>
        <button routerLink="getCustomerCoup">Get Customer Coupons </button>
        <button routerLink="getCustomerCoupByCate">Get Customer Coupons By Category</button>
        <button routerLink="getCustomerCoupByMaxPrice">Get Customer Coupons By Max Price</button>
        <button routerLink="customerDetails">Get Customer Details </button>
        <button (click)="logout()">Logout</button>


    </aside>
    <main>

        <router-outlet></router-outlet>

    </main>
   
</section>
